<%- include('partials/head') %>

<main>
    <div>
        <h1>Blog</h1>
        <h2>We love web</h2>
    </div>

    <div class="search-bar">
        <div class="search-box">
            <input type="text" id="search-input" autocomplete="off">
            <button aria-label="Search">
                <img src="assets/img/search-icon.svg" alt="">
            </button>
        </div>
        <div class="result-box">
        </div>
    </div>

    <ul class="blog-post-list">
        <% posts.forEach(post => { %>
            <li>
                <article>
                    <a href="https://www.voorhoede.nl/en/blog/<%- post.slug %>">
                        <h3><%- post.title %></h3>
                    </a>
                    <time date="<%- post.updatedAt %>"><%- post.updatedAt %></time>
                    <div class="authors">
                        <% post.authors.forEach(author => { %>
                                <img src=<%- author.image.url %> alt="" loading="lazy" class="author-img" width="65">
                            <% }) %>
                        <p> By
                            <% post.authors.forEach(author => { %>
                                <%= author.name %>
                            <% }) %>
                        </p>
                    </div>
                </article>
            </li>
        <% }) %>
    </ul>

</main>

<%- include('partials/foot') %>